html{
    scroll-behavior: smooth;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
#demo{
    width: 80%;
   margin: 0 auto;
}
h2.underline::after{
    margin: 0 auto;
    content: "";
    height: 5px;
    width: 20%;
    border-radius: 20px;
    display: block;
    background-color: #ea8025;
    font-weight: bold;
}
  /*  */
header{ 
    font-size: 20px;
    text-transform:uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
}
.header{
    position: fixed;   
    width: 100%;
}
/*      MENU         */
ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(12, 11, 11);
    justify-content: center;
}

.subcontent{
    display: none;
    z-index: 99;
}
.sub:hover .subcontent{
    display: inline-block;
    position: absolute;
    
}
nav > ul.menu{
    display: flex;
    
}
ul.menu > li{
    max-width: 200px;
}
ul.menu > li > a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: rgb(170, 170, 170);
    font-size: 20px;
}
ul.menu > li a{
    display: flex;
    border-radius: 3px; 
}
div.anhtieude img{
    width: 100%;
    height: 365.729;
}

ul.menu > li > a:hover{
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    color: white;
}
li.logo-header >img{
    width: 80%;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 0px;

}
li.logo-header{
    text-align: center;
}

/* BANNER */
section.banner{
    margin-top: 65px;
}
.banner > img{
    width: 100%;
    position: relative;
    opacity: 0.8;
}
.banner > h1{
    position: absolute;
    top: 38%;
    color: rgb(44, 42, 42);
    left: 43%;
    font-size: 35px;
    display: block;
}


/* STORE */
.store-intro{
    padding: 50px 120px;

}

.store {
    display: flex;
}
.store-text{
    width: 50%;
    margin: auto 0;
    padding: 0 30px;
    text-align: justify;
    line-height: 1.6;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.store-img{
    width: 50%;
    margin: 5px;
    height: 100%;
}
.store-more{
    background-color: #836747;
    display: inline-block;
    padding: 10px;
    color: white;
}
.store-more > h4 >a:hover{
    text-decoration: none;
}
.store-more:hover{
    transform: translateY(20%);
    transition: all 1s ease;
}
.store-more > h4 > a{
    color: white;
}

.store-img > img{
    width: 100%;
}

/* ALL STORE */
h1.underline::after{
    content: "";
    height: 3px;
    width: 25%;
    border-radius: 20px;
    display: block;
    background-color: black;
    margin: 0 auto;
}
.underline-phu::after{
    content: "";
    height: 3px;
    width: 35%;
    border-radius: 20px;
    display: block;
    background-color: black;
}
section.all-store{
    padding: 50px 120px;
}
.all-store > h1{
    text-align: center;
    font-size: 35px;
}
.locations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.location{
    border: 3px solid #DDDDDD;
    display: flex;
    width: 47%;
    margin: 10px;
    border-radius: 8px;
    
}
.loca-img{
    width: 65%;
    margin: 10px;
    
}
.loca-img > img{
    width: 100%;
    margin: auto 0;

}
.loca-text{
    width: 35%;
    margin: 10px;
}
.loca-text h5{
    font-size: 17px;
}
.loca-text-more{
    padding-top: 10px;
}
.loca-text-more p{
    font-size: 15px;
    font-weight: 400;
    
}
.loca-text-more > p > a{
    color:rgb(238, 235, 235);
    background-color: rgb(48, 46, 46);
    padding: 8px 16px;
    

}
.loca-text-more > p > a:hover{
    text-decoration: none;
}
.loca-text-more > p:last-child{
    text-align: center;
}
.loca-text-more > p:last-child:hover{
    transform: translateX(10%);
    transition: all 2s ease;
}

/*Tuyển dụng*/

section.recruit{
    background-color: #F8F7F5;
    padding-top: 20px;
}
.recruit > h1{
    text-align: center;
    font-size: 35px;
}
         /* GENERAL */
        section.general{
            text-align: center;
            margin: 30px 0px;
        }
        div.TD-vitri{
            display: flex;
            justify-content: center;
        }
        div.TD-vitri > h3{
            margin: 0 10px;
            border: #ff7802 1.5px solid;
            background-color: #fda557;
            
        }

        div.TD-vitri > h3 > a{
            color:rgb(12, 11, 11);
            text-decoration: none;
            display: block;
            padding: 10px 30px;
        }
        div.TD-vitri > h3 > a:hover{
            background-color: #F8F7F5;
            color:#ff6725;
            font-weight: bold;
        }

        h2.underline::after{
            content: "";
            height: 3px;
            width: 25%;
            border-radius: 20px;
            display: block;
            background-color: black;
        }

        /* Section-content1 */
        section.content1{
            padding-left: 120px;
            padding-right: 120px;
        }
        
        .content-main1, .content-main2{
            display: flex;
        }
        .barista-item{
            margin: 20px 0;
            width: 30%;
            height: auto;
            border: black 1.5px solid;
            border-radius: 2px;
            background-color: white;
        }
        .barista-item > h3{
            font-size: 18px;
            display: flex;
            justify-content: center;
            margin: auto 0;
        }
        .barista-item > h3 > a{
            text-decoration: none;
            background-color: #ea8025;
            color:white;
            padding: 12px;
            margin: 30px;
            border: #ff7700 3px solid;
            border-radius: 3px;
        }
        .barista-item > h3 > a:hover{
            background-color: white;
            color:#ea8025;
        }
        .barista-item > h4{
            font-size: 16px;
            text-indent: 10px;
            margin-top: 10px;

        }
        .barista-item > img{
            border-radius: 2px;
            width: 100%;
            padding: 10px;
        }
        .barista-sub{ 
            padding-left: 30px;
            width: 70%;
        }
        .barista-sub > h5{
            text-indent: 20px;
            
        }
        .barista-sub > h3{
            font-size: 20px;
        }

        /* Section-content2 */
        section.content2{
            padding-top:50px;
            padding-left: 120px;
            padding-right: 120px;
        }
        
        .customer-item{
            margin: 20px 0;
            width: 30%;
            height: auto;
            border: black 1.5px solid;
            border-radius: 2px;
            background-color: white;

        }
        .customer-item > h3{
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin: auto 0;
        }
        .customer-item > h3 > a{
            text-decoration: none;
            background-color: #ea8025;
            color:white;
            padding: 12px;
            margin: 30px;
            border: #ff7700 3px solid;
            border-radius: 3px;
        }
        .customer-item > h3 > a:hover{
            background-color: white;
            color:#ea8025;
        }
        .customer-item > h4{
            font-size: 16px;
            text-indent: 10px;
            margin-top: 10px;
        }
        .customer-item > img{
            border-radius: 2px;
            width: 100%;
            padding: 10px;

        }
        .customer-sub{ 
            padding-left: 30px;
            width: 70%;
        }
        .customer-sub > h5{
            text-indent: 20px;
        }
        .customer-sub > h3{
            font-size: 20px;
        }
        .barista-sub > h2, .customer-sub > h2{
            text-align: center;
            font-weight: bold;
        }
        .barista-sub > h3, .customer-sub > h3{
            font-family: monospace;
        }
        .barista-sub > h5, .customer-sub > h5{
            line-height: 1.4;
            font-size: 15px;
        }


/* FOOTER */
.footer h4{
    font-weight: unset;
    font-size: 17px;
}
.footer h4 a{
    color:  #333340;
}
.footer h4:hover{
    
    color:  gray;
    transition: all 0.5s ease;
    transform: translateY(-15%);
}
.footer h4 a:hover{
    text-decoration: none;
}
section.footer{
    background-image: url(/img/bg-footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-top: 1.5px solid #ECECEC;
}
.my-footer{
    display:flex;
    padding: 50px 50px;
}
.my-footer h3{
    text-transform:uppercase;
}
.col15{
    width: 15%;
    justify-content: center;
    margin: auto 0;;
}
.col20{
    width: 20%;
}   
    .over{
        color: white;
    }
.col15 img{
    width: 60%;
    border-radius: 50%;
}
.col22{
    width: 22.5%;
}

.link-more, .contact-more, .socials-more{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin-top: 20px;
}


.end{
    
    background-color: rgb(12, 11, 11);
    padding: 10px;
    padding-left: 50px;
    color: rgb(170, 170, 170);
    text-align: center;

}
.end h4{
    font-size: 13px;
}